html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  
  .full-height {
    height: 100vh;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }
  
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }
  
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .m-b-md {
    margin-bottom: 30px;
  }
  
  footer{
    background: #eee;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #ff3b3b;
  }
  
  .wrapper{
    max-width: 1140px;
    padding: 10px;
    margin: 20px auto;
  }
  
  /* create pizza form */
  
  .create-pizza{
    background: #f7f7f7;
    padding: 20px;
    color: #048a09e3;
    font-weight: bold;
    
    
    .gallery{
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px;
      float: right;       
    }

    .column {
      position: relative;
      height: 200px;
      width: 200px;
    }

    .column img{
      width: 100%;
      height: 100%;
        
    }
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      
    }

    .column:hover .image {
      opacity: 0.3;
    }
    .column:hover .middle {
      opacity: 1;
    }
    .overlay {
      background-color: #04AA6D;
      color: white;
      font-size: 16px;
      padding: 16px 32px; 
    } 
   
   
    label, select{
      display: block;
    }
  
    label{
      margin-top: 30px;
    }
  
    select{
      padding: 8px;
      width: 200px;
    }
  
    input[type=checkbox]{
      margin: 10px;
      
    }
  
    input[type=submit]{
      background: #ff3b3b;
      padding: 8px 20px;
      color: #fff;
      border: 0;
      margin-top: 20px;
    }
    #orderbtn:hover {
      background-color: #048a09e3;
      color: white;
    }

    fieldset{
        border: 0px;
    }

  }
  
  /* pizza details page */
  
  .pizza-details{
    background: #f7f7f7;
    padding: 20px;
      
    p{
      margin: 20px 0;
      font-weight: bold;     
    }
    button{
      background: #ff3b3b;
      padding: 8px 20px;
      color: #fff;
      border: 0;
      margin-top: 20px;
    }
  }
  a.back{
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #ff3b3b;
    margin-bottom: 20px;
  }
  
  /* pizza index page */
  
  .pizza-index{
    h1{
      margin-bottom: 40px;
    }
    .pizza-item{
      margin: 10px 0;
      padding: 12px;
      background: #f4f4f4;
      img{
        width: 60px;
        display: inline-block;
      }
      
      h4{
        display: inline-block;
        font-weight: normal;
        margin-left: 20px;
        a{
          color: #777;
          text-decoration: none !important;
        }
      }
    }
  }

  .order {
    display: inline-block;
    border-radius: 6px;
    background-color: #ff3b3b;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .order:hover {
    background-color: #048a09e3;
    color: white;
  }